<%- include('partials/header.ejs') %>
    <main>
        <p>Create your profile by filling this form.</p>
        <form action="/create" method="POST">
            <div>
                <label for="firstname">First name</label>
                <input type="text" id="firstname" name="firstname">
            </div>
            <div>
                <p>Sex</p>
                <% for(i=0; i < data.sexes.length; i++){ %>
                    <div class="radio-group">
                        <input type="radio" id="<%= data.sexes[i].toLowerCase(); %>" name="sex"
                            value="<%= data.sexes[i].toLowerCase(); %>">
                        <label for="<%= data.sexes[i].toLowerCase(); %>">
                            <%= data.sexes[i] %>
                        </label>
                    </div>
                    <% } %>
            </div>
            <!-- <div>
                <p>Gender</p>
                <%// for(i=0; i < data.genders.length; i++){ %>
                    <div class="radio-group">
                        <input type="radio" id="<%//= data.genders[i].toLowerCase(); %>" name="gender"
                            value="<%//= data.genders[i].toLowerCase(); %>">
                        <label for="<%//= data.genders[i].toLowerCase(); %>">
                            <%//= data.genders[i] %>
                        </label>
                    </div>
                    <%// } %>
            </div>
            <div>
                <p>Interested in</p>
                <%// for(i=0; i < data.interests.length; i++){ %>
                    <div class="radio-group">
                        <input type="radio" id="<%//= data.interests[i].toLowerCase(); %>" name="interest"
                            value="<%//= data.interests[i].toLowerCase(); %>">
                        <label for="<%//= data.interests[i].toLowerCase(); %>">
                            <%//= data.interests[i] %>
                        </label>
                    </div>
                    <%// } %>
            </div>
            <div>
                <label for="birthday">Birthday</label>
                <input type="number" id="birthday" name="birthday" min="18" class="inline">
            </div>
            <div>
                <label for="religion-select">Religion</label>
                <select name="religion" id="religion-select">
                    <option>Select a religion</option>
                    <%// for(i=0; i < data.religions.length; i++){ %>
                        <option value="<%//= data.religions[i].toLowerCase(); %>">
                            <%//= data.religions[i] %>
                        </option>
                        <%// } %>
                </select>
            </div>
            <div>
                <label for="place">Where do you live</label>
                <input type="search" id="place" name="place">
            </div>
            <div>
                <label for="hobbies">What are your hobbies</label>
                <input type="search" id="hobbies" name="hobbies">
                <button id="add-hobby">+</button>
            </div> -->
            <input type="submit" value="Create profile">
        </form>
    </main>
    <%- include('partials/footer.ejs') %>