<% //Home view, main page with profiles %>
<%- include('partials/top.ejs') %>
    <main>
        <h2>Hello, <%= profile.firstname; %></h2>
        <a href="/profile-settings/<%= profile._id; %>" class="button">View your profile</a>
        <h3>Profiles</h3>

        <%/* This link leads to an incomplete feature <a href="/filter/[insert profile.id here]" class="button"><span class="material-icons">filter_alt</span></a> */%>
        <% for(i=0; i < list.length; i++){ %>
            <% if (profile._id !== list[i]._id){ %>
            <section class="account-item">
                <a href="/home/<%= list[i]._id; %>">
                    <div>
                        <% if (list[i].picture){ %>
                            <img src="<%= list[i].picture %>" alt="profile picture of <%= list[i].firstname; %>">
                            <% } else { %>
                                <span class="material-icons">face</span>
                                <% } %>
                    </div>
                    <div>
                        <p>
                            <%= list[i].firstname; %>
                        </p>
                        <p>
                            <%= list[i].email; %>
                        </p>
                    </div>
                </a>
            </section>
            <% } %>
            <% } %>
    </main>
    <%- include('partials/bottom.ejs') %>