<%- include('partials/top.ejs') %>
    <p>Select an account</p>
    <% for(i=0; i < list.length; i++){ %>
        <a href="/home/<%= list[i]._id; %>">
            <div>
                <img src="" alt="">
            </div>
            <div>
                <p>
                    <%= list[i].firstname; %>
                </p>
                <p>
                    <%= list[i].email; %>
                </p>
            </div>
        </a>
        <% } %>
            <a href="create">Sign up</a>
            <%- include('partials/bottom.ejs') %>